In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import pandas_datareader.data as web

In [2]:
ticker='^DJI'
df = web.DataReader(ticker, 'stooq')

In [3]:
df

                Open      High       Low     Close       Volume
Date
2023-08-18  34368.36  34587.07  34263.19  34500.66  326377736.0
2023-08-17  34829.61  34888.48  34440.73  34474.83  404069962.0
2023-08-16  34914.96  35133.56  34757.37  34765.74  339718475.0
2023-08-15  35219.37  35219.37  34908.50  34946.39  326102063.0
2023-08-14  35273.89  35335.45  35169.97  35307.63  303983656.0
...              ...       ...       ...       ...          ...
2018-08-27  25882.71  26067.57  25882.71  26049.64  220484480.0
2018-08-24  25688.58  25826.05  25688.58  25790.35  200375369.0
2018-08-23  25714.86  25762.56  25608.02  25656.98  213364186.0
2018-08-22  25825.06  25836.16  25722.43  25733.60  200483687.0
2018-08-21  25786.99  25888.82  25784.90  25822.29  241684729.0

[1257 rows x 5 columns]

In [5]:
returns = df['Close'].pct_change()
returns

Date
2023-08-18         NaN
2023-08-17   -0.000749
2023-08-16    0.008438
2023-08-15    0.005196
2023-08-14    0.010337
                ...
2018-08-27   -0.000552
2018-08-24   -0.009954
2018-08-23   -0.005171
2018-08-22    0.002986
2018-08-21    0.003446
Name: Close, Length: 1257, dtype: float64

In [6]:
dfs = []
for i in range(5):
    dfs.append(returns.shift(i).rename('r%d' % i))
dfs.append(returns.shift(-1).rename('Y'))
df_net = pd.concat(dfs, axis=1)
df_net = df_net.dropna()
df_net

                  r0        r1        r2        r3        r4         Y
Date
2023-08-11 -0.000743  0.010337  0.005196  0.008438 -0.000749 -0.002983
2023-08-10 -0.002983 -0.000743  0.010337  0.005196  0.008438 -0.001501
2023-08-09 -0.001501 -0.002983 -0.000743  0.010337  0.005196  0.005442
2023-08-08  0.005442 -0.001501 -0.002983 -0.000743  0.010337  0.004492
2023-08-07  0.004492  0.005442 -0.001501 -0.002983 -0.000743 -0.011488
...              ...       ...       ...       ...       ...       ...
2018-08-28 -0.002318  0.005297  0.000851  0.000475 -0.000867 -0.000552
2018-08-27 -0.000552 -0.002318  0.005297  0.000851  0.000475 -0.009954
2018-08-24 -0.009954 -0.000552 -0.002318  0.005297  0.000851 -0.005171
2018-08-23 -0.005171 -0.009954 -0.000552 -0.002318  0.005297  0.002986
2018-08-22  0.002986 -0.005171 -0.009954 -0.000552 -0.002318  0.003446

[1251 rows x 6 columns]